<form nz-form [nzLayout]="'vertical'" (submit)="addTask()" id="formTask">
  <nz-form-item>
    <nz-form-label id="input"><h2>Title</h2></nz-form-label>
    <nz-form-control [nzSpan]="5">
      <input nz-input type="text" [nzSize] ="'large'" [(ngModel)]="title" placeholder="Task Title" name="title" id="input">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label id="input"><h2>Description</h2></nz-form-label>
    <nz-form-control [nzSpan]="5">
      <input nz-input type="text" [nzSize] ="'large'" [(ngModel)]="description" placeholder="Task Description" name="description" id="input">
    </nz-form-control>
  </nz-form-item>
    
  <button nz-button nzType="primary" nzShape="circle" id="addButton" type="submit"><span nz-icon nzType="plus" nzTheme="outline"></span></button>

  </form>
