#title {
    text-align: center;
    position: relative;
    width: auto;
}

#addButton {
    position: relative;
    width: 3rem;
    height: 3rem;
    float: left;
}
#input {
    position: relative;
    width: auto;
}
input {
    border-radius: 25px;
}

#formTask {
    position: relative;
    left: 5rem;
    width: fit-content;
}
